#header.big-bg
  .wrapper
    = render "shared/header"
  .page-title 食堂一覧（いいねの多い順）
.search-container
  = form_with(url: cafeterias_searches_path, local: true, method: :get, class: "search-form") do |f|
    = f.text_field :keyword, placeholder: "キーワードを入力", class: "search-input"
    = f.submit "検索", class: "search-btn"
.buttons.has-addons
  = link_to cafeterias_path do
    %button.button 新着
  = link_to popular_cafeterias_path do
    %button.button 人気
%section.section
  .cafeterias-container
    .columns.is-multiline
      - @all_ranks.each do |cafeteria|
        = render partial: "cafeteria", locals: { cafeteria: cafeteria }
      = paginate(@cafeterias)
= render "shared/footer"