#header.big-bg
  .wrapper
    = render "shared/header"
  .page-title #{@cafeteria.name}の詳細
%section.section
  .container
    .columns.is-centered
      .column.is-5
        .card
          .card-image
            %figure.image.is-4by3
              %tr
                %td= image_tag @cafeteria.image.to_s
          .card-content
            .media
              .media-content
                .cafeteriaTitle
                  = @cafeteria.name
                .cafeteriaDate
                  = @cafeteria.created_at.strftime("%Y年%m月%d日 %H時%M分")
            .content
              %table.table.is-narrow
                %tr
                  %th 感想
                %tr
                  %td= simple_format @cafeteria.detail
              - if user_signed_in? && current_user.id == @cafeteria.user_id
                .videoManage
                = link_to "編集画面へ", edit_cafeteria_path(@cafeteria.id), class: "button is-success cafeteriaManage__edit"
                = link_to "投稿の削除", cafeteria_path(@cafeteria.id), method: :delete, class: "button is-danger cafeteriaManage__delete"
      .column.is-4
        %article.panel.is-link
          %p.panel-heading
            By #{@cafeteria.user.username}
          .panel-block
            %p.control
              = @cafeteria.user.profile
          = link_to user_path(@cafeteria.user), class: "panel-block" do
            %span.panel-icon
              %i.fas.fa-user{"aria-hidden" => "true"}
            = @cafeteria.user.username
            さんのページへ
= render "shared/footer"
