#header.big-bg
  .wrapper
    = render "shared/header"
  .page-title 「#{@cafeteria.name}」の詳細
%section.section
  .container
    .columns.is-centered
      .column.is-5
        .card
          .card-image
            %figure.image.is-4by3
              %tr
                %td= image_tag @cafeteria.image.to_s, fallback: "images/no-image.png"
          .card-content
            .media
              .media-content
                .cafeteriaTitle
                  = @cafeteria.name
                .detail--addres
                  = @cafeteria.addres
                .cafeteriaDate
                  = @cafeteria.created_at.strftime("%Y年%m月%d日 %H時%M分")
              %div{id: "likes_buttons_#{@cafeteria.id}"}
                = render partial: 'likes/like', locals: { cafeteria: @cafeteria}
            .content
              %table
                %tr
                  %h4.impression 感想
                %tr
                  = simple_format @cafeteria.detail
              - if user_signed_in? && current_user.id == @cafeteria.user_id
                .videoManage
                = link_to "編集画面へ", edit_cafeteria_path(@cafeteria.id), class: "button is-success cafeteriaManage__edit"
                = link_to "投稿の削除", cafeteria_path(@cafeteria.id), method: :delete, class: "button is-danger cafeteriaManage__delete"
      .column.is-4
        %article.panel.is-link
          %p.panel-heading
            By #{@cafeteria.user.username}
          .panel-block
            %p.control
              = @cafeteria.user.profile
          = link_to user_path(@cafeteria.user), class: "panel-block" do
            %span.panel-icon
              %i.fas.fa-user{"aria-hidden" => "true"}
            = @cafeteria.user.username
            さんのページへ
  .container
  - if current_user
    = form_with model: [@cafeteria, @comment], class: "form", url: "/cafeterias/#{@cafeteria.id}/comments", local: true do |f|
      .field
        = f.label :text, "コメントを投稿する", class: "comment-label"
        = f.text_area :text, placeholder: "コメント内容", rows: "3"
      = f.submit "SEND", class: "comment-btn"
  - else
    %strong
      %p.comment-caution ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  .comments
    %h4 ＜コメント一覧＞
    - if @comments
      - @comments.each do |comment|
        %p
          %strong
            = link_to comment.user.username, "/users/#{comment.user_id}"
            ：
          = comment.text
          = comment.created_at.strftime("(%Y年%m月%d日 %H時%M分)")
          - if user_signed_in? && current_user.id == comment.user_id
            = link_to "削除", cafeteria_comment_path(comment.cafeteria.id, comment.id), method: :delete, class: "comment-delete"
= render "shared/footer"
