#header.big-bg
  .wrapper
    = render "shared/header"
  .page-title ログイン
.sessions-box
  %section.section
    .container
      .columns.is-centered
        .column.is-5
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.label :メールアドレス, class: "label"
              %p.control.has-icons-left
                = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "input"
                %span.icon.is-small.is-left
            .field
              = f.label :パスワード, class: "label"
              %p.control.has-icons-left
                = f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "input"
                %span.icon.is-small.is-left
            .actions
              = f.submit "ログイン", class: "button is-success"
          = render 'devise/sessions/testuser'
          = render "devise/shared/links"
= render "shared/footer"