#header.big-bg
  .wrapper
    = render "shared/header"
  .page-title 食堂一覧
.search-container
  = form_with(url: cafeterias_searches_path, local: true, method: :get, class: "search-form") do |f|
    = f.text_field :keyword, placeholder: "キーワードを入力", class: "search-input"
    = f.submit "検索", class: "search-btn"
%section.section
  .cafeterias-container
    .columns.is-multiline
      - @cafeterias.each do |cafeteria|
        = render partial: "cafeterias/cafeteria", locals: { cafeteria: cafeteria }
      = paginate(@cafeterias)
= render "shared/footer"